.text-hover-container {
  position: relative;
}

.text-hover-content {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  text-align: center;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5)
}


.redactor-editor {
  color: $gray;
}
