button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  color: inherit;
  font-size: 1em;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
