/** @define button */

.button--primary {
  background-color: $button-bg;
  color: $button-color;
}

.button__flat {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
}

.button--border-a {
  border-left: 2px dashed $button-border;
}
