.event-container {
  background-color: $primary-color;
}

.event-image {
  width: 100%;
  min-height: 175px;
  background-size: cover;
}

.event-content {
  padding: 10px;
  min-height: 150px;
}

.event-footer {
  background-color: $secondary-color;
  padding: 0px 0px 0px 10px;
  min-height: 50px;
}

.event-button {
  display: inline-block;
}

.event-add--participant {
  position: relative;
  // width: 100px;
  // height: 100px;

  .btn {
    width: 100px;
    height: 100px;
  }
}
