.team-container {

}

.team-banner {
  min-height: 130px;
}

.team-banner--add {
  .btn {
    width: 100%;
  }
}

.team-award {
}

.team-award-content {
  text-align: center;
  font-weight: bold;
  background-color: purple;
}
