/* ------------------------------------ *\
     #ROWS
\* ------------------------------------ */
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ------------------------------------ *\
     #COLUMNS
\* ------------------------------------ */

.col--spaced {
  padding-top: $small-gutter;
  padding-bottom: $small-gutter;
}

.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: $grid-default-padding;
  padding-right: $grid-default-padding;
}

.col-md-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-md-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-md-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-md-8 {
  flex-basis: 66.666%;
  max-width: 66.666%;
}

.col-md-12 {
  flex-basis: 100%;
  max-width: 100%;
}
