/* ------------------------------------ *\
     #COLORS
\* ------------------------------------ */
$venice-blue: #05668d;
$blue-lagoon: #028090;
$persian-green: #00a896;
$coconut-cream: #fcfbee;

$white: white;

/* ------------------------------------ *\
     #COLORS-STYLES
\* ------------------------------------ */
$light-color: $coconut-cream;
$dark-color: $thirdly-color;

$primary-color: $venice-blue;
$secondary-color: $blue-lagoon;
$thirdly-color: $persian-green;

$body-bg: $primary-color;
$body-color: $light-color;

$box-bg: $secondary-color;
$box-color: $light-color;
$box-footer-bg: $thirdly-color;

$button-bg: $thirdly-color;
$button-color: $light-color;
$button-border: $primary-color;

$navbar-bg: $thirdly-color;

/* ------------------------------------ *\
     #SPACING
\* ------------------------------------ */
$grid-default-padding: 1em;

/* ------------------------------------ *\
     #GUTTERS
\* ------------------------------------ */
$small-gutter: 1em;

/* ------------------------------------ *\
     #FONTS
\* ------------------------------------ */
$font-face: 'Helvetica Neue';
